.add-button{
    // width: 10em;
    padding: 10px 35px;
    border-radius: var(--radious-buttons);
    background-color: var(--color-main);
    color:white;
    border-color: white;
}

.add-button:hover {
    background-color: white;
    color:var(--color-main);
    border-color: var(--color-main);
}