*{
    color: var(--color-main);
    font-family: var(--font-main);
}
.my-input {
   border-radius: var(--radious-buttons);
   border: 1px solid;
   padding: 5px;
   
}




label {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}
app-button {
    align-self: flex-end;
    margin: 2em 0 0.5em 0;
}
.botones {
    display: flex;
    flex-direction: row-reverse;
}
.icon {
    width: 0.9em;
    height: auto;
    margin-top: -1.3em;
    align-self: end; 
    margin-right: 1rem;
}
.input-group {
    display:flex;
    flex-direction: column;
}
@media screen and (max-width: 990px){
    .icon {
     width: 0.8em;
     height: auto;
     margin-top: -1em;

    }
}
