/* You can add global styles to this file, and also import other style files */
:root {
    --color-main: #2e344d;
    --color-light: #f5f7fb;
    --font-main: Helvetica;
    --radious-containers: 26px;
    --radious-buttons: 12px;
}
